<?xml version="1.0"?>
<model>
  <name>Pool Registration Landmarks</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Aaron John Sabu</name>
    <email>aaronjs@g.ucla.edu</email>
  </author>
  <description>
    Static above-water posts and pylons that provide geometric registration structure in the controlled pool.
  </description>
</model>
