<?xml version="1.0"?>
<model>
  <name>Tank</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Aaron John Sabu</name>
    <email>aaronjs@g.ucla.edu</email>
  </author>
  <description>
    Static floor and wall geometry for the controlled Heron tank world.
  </description>
</model>
