<launch>
  <arg name="robot_namespace" default="robot"/>
  <arg name="rviz" default="false"/>
  <arg name="pointcloud_topic" default="/sensors/lidar/hori/points"/>
  <arg name="imu_topic" default="/sensors/imu/data"/>
  <arg name="odom_topic" default="/state/odometry"/>
  <arg name="pose_topic" default="/state/pose"/>
  <arg name="path_topic" default="/state/path"/>
  <arg name="map_topic" default="/state/map"/>

  <include file="$(find slam_grande)/launch/include/dlio_stack.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)"/>
    <arg name="pointcloud_topic" value="$(arg pointcloud_topic)"/>
    <arg name="imu_topic" value="$(arg imu_topic)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="pose_topic" value="$(arg pose_topic)"/>
    <arg name="path_topic" value="$(arg path_topic)"/>
    <arg name="map_topic" value="$(arg map_topic)"/>
    <arg name="geometry_file" value="$(find slam_grande)/config/dlio_heron_geometry.yaml"/>
    <arg name="config_file" value="$(find heron_simulator)/config/dlio_heron.yaml"/>
    <arg name="rviz" value="$(arg rviz)"/>
  </include>
</launch>
