<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      heron_world.launch
\authors   Guy Stoppi <gstoppi@clearpathrobotics.com>
\copyright Copyright (c) 2018, Clearpath Robotics, Inc., All rights reserved.

Redistribution and use in source and binary forms, with or without modification, are permitted provided that
the following conditions are met:
 * Redistributions of source code must retain the above copyright notice, this list of conditions and the
   following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
   following disclaimer in the documentation and/or other materials provided with the distribution.
 * Neither the name of Clearpath Robotics nor the names of its contributors may be used to endorse or promote
   products derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WAR-
RANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR
PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, IN-
DIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT
OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->
<launch>
  <arg name="config" default="base" />
  <arg name="x"     default="0"/>
  <arg name="y"     default="0"/>
  <arg name="yaw"   default="0"/>

  <arg name="namespace" default="" />

  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="set_timeout" default="false"/>
  <arg name="timeout" default="0.0"/>
  <arg name="enable_ekf" default="true"/>
  <arg name="enable_navsat" default="true"/>
  <arg name="use_interactive_marker" default="false"/>
  <arg name="control_startup_delay_sec" default="0.0"/>
  <arg name="cmd_vel_to_mixer" default="/cmd_vel"/>
  <arg name="drive_topic" default="/cmd_drive"/>
  <arg name="left_thruster_topic" default="/thrusters/1/input"/>
  <arg name="right_thruster_topic" default="/thrusters/0/input"/>
  <arg name="mixer_config" default="$(find heron_simulator)/config/twist_to_drive.yaml"/>
  <arg name="thruster_dynamics_config" default="$(find heron_simulator)/config/thruster_dynamics.yaml"/>
  <arg name="gui_startup_delay_sec" default="20.0"/>
  <arg name="force_software_rendering" default="false"/>
  <arg name="bootstrap_pause" default="true"/>
  <arg name="autounpause_delay_sec" default="10.0"/>

  <arg name="start_gazebo" default="true"/>
  <arg name="gazebo_master_port" default="11345"/>
  <arg name="gazebo_extra_args" default="--lockstep"/>
  <arg name="world_name" default="$(find heron_simulator)/worlds/ocean_surface.world"/>
  <env name="GAZEBO_MASTER_URI" value="http://127.0.0.1:$(arg gazebo_master_port)"/>

  <node pkg="slam_grande" type="ensure_topic_contract_symlink.sh"
        name="topic_contract_updater" output="screen"/>

  <group if="$(arg start_gazebo)">
    <env name="LIBGL_DEBUG" value="quiet"/>
    <env name="MESA_DEBUG" value="silent"/>
    <env name="MESA_LOG_LEVEL" value="error"/>
    <env name="MESA_LOG_FILE" value="/dev/null"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="paused" value="$(eval 'true' if str(arg('paused')).lower() == 'true' or str(arg('bootstrap_pause')).lower() == 'true' else 'false')"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="false"/>
      <arg name="headless" value="$(arg headless)"/>
      <arg name="debug" value="false"/>
      <arg name="verbose" value="$(arg verbose)"/>
      <arg name="extra_gazebo_args" value="$(arg gazebo_extra_args)"/>
    </include>

    <node if="$(eval str(arg('bootstrap_pause')).lower() == 'true' and str(arg('paused')).lower() != 'true')"
          name="gazebo_startup_unpause"
          pkg="heron_simulator"
          type="startup_unpause.py"
          output="screen">
      <param name="delay_sec" value="$(arg autounpause_delay_sec)"/>
      <param name="service" value="/gazebo/unpause_physics"/>
    </node>

    <node if="$(arg gui)" name="gazebo_gui" pkg="heron_simulator" type="gzclient_plain.py"
          output="screen"
          args="$(eval '--verbose' if str(arg('verbose')).lower() == 'true' else '')">
      <env name="GAZEBO_GUI_STARTUP_DELAY_SEC" value="$(arg gui_startup_delay_sec)"/>
      <env name="GAZEBO_GUI_SOFTWARE_RENDERING" value="$(arg force_software_rendering)"/>
      <env name="GAZEBO_GUI_AUTO_FALLBACK" value="true"/>
      <env name="LIBGL_DEBUG" value="quiet"/>
      <env name="MESA_DEBUG" value="silent"/>
      <env name="MESA_LOG_LEVEL" value="error"/>
      <env name="MESA_LOG_FILE" value="/dev/null"/>
    </node>
  </group>

  <include file="$(find heron_simulator)/launch/spawn_heron.launch">
    <arg name="x" value="$(arg x)" />
    <arg name="y" value="$(arg y)" />
    <arg name="yaw" value="$(arg yaw)" />
    <arg name="namespace" value="$(arg namespace)" />
    <arg name="config" value="$(arg config)" />
    <arg name="enable_ekf" value="$(arg enable_ekf)" />
    <arg name="enable_navsat" value="$(arg enable_navsat)" />
    <arg name="use_interactive_marker" value="$(arg use_interactive_marker)" />
    <arg name="control_startup_delay_sec" value="$(arg control_startup_delay_sec)" />
    <arg name="cmd_vel_to_mixer" value="$(arg cmd_vel_to_mixer)" />
    <arg name="drive_topic" value="$(arg drive_topic)" />
    <arg name="left_thruster_topic" value="$(arg left_thruster_topic)" />
    <arg name="right_thruster_topic" value="$(arg right_thruster_topic)" />
    <arg name="mixer_config" value="$(arg mixer_config)" />
    <arg name="thruster_dynamics_config" value="$(arg thruster_dynamics_config)" />
  </include>

</launch>
