<launch>
  <!-- Local Playback Helper -->
  <param name="/use_sim_time" value="true"/>
  <arg name="arrange_gui_windows" default="true"/>
  <arg name="demo_window_layout" default="largest_landscape"/>

  <!-- Load Robot Description (Needed for Rviz) -->
  <param name="robot_description" command="xacro '$(find heron_description)/urdf/heron.urdf.xacro' simulation:=false" />

  <!-- Start Rviz with config -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_grande)/config/rviz/nav_debug.rviz"/>

  <include file="$(find slam_grande)/launch/include/gui_window_layout.launch">
    <arg name="arrange_gui_windows" value="$(arg arrange_gui_windows)"/>
    <arg name="demo_window_layout" value="$(arg demo_window_layout)"/>
    <arg name="expect_gazebo" value="false"/>
    <arg name="expect_rviz" value="true"/>
    <arg name="layout_node_name" value="playback_rviz_window_layout"/>
  </include>

  <!-- Instructions -->
  <!-- Run manualy: rosbag play inspection_mission.bag waiting for user trigger -->
</launch>
