<launch>
  <arg name="pointcloud_topic"/>
  <arg name="imu_topic"/>
  <arg name="odometry_3dof_topic" default="/state/odometry_3dof"/>
  <arg name="pose_3dof_topic" default="/state/pose_3dof"/>
  <arg name="map_topic" default="/state/estimator/map"/>
  <arg name="path_topic" default="/state/path"/>
  <arg name="odometry_6dof_topic" default="/state/odometry_6dof"/>
  <arg name="pose_6dof_topic" default="/state/pose_6dof"/>
  <arg name="raw_odometry_topic" default="/state/estimator/odometry_raw"/>
  <arg name="sensor_odometry_topic" default="/state/estimator/odometry_sensor"/>
  <arg name="frame_odom" default="odom"/>
  <arg name="frame_base" default="base_footprint"/>
  <arg name="frame_lidar"/>
  <arg name="frame_imu"/>
  <arg name="frame_base_6d" default="base_link"/>
  <arg name="base_config_file" default="$(find mariner)/config/simulated_navigation.yaml"/>
  <arg name="config_file" default=""/>
  <arg name="startup_delay_sec" default="0.0"/>
  <arg name="publish_native_odom_tf" default="false"/>
  <arg name="publish_odom_tf" default="true"/>
  <arg name="publish_odometry_6dof_tf" default="false"/>
  <arg name="rviz" default="false"/>

  <node pkg="heron_simulator" type="simulated_navigation_state.py"
        name="simulated_navigation_state" output="screen" required="true">
    <rosparam file="$(arg base_config_file)" command="load"/>
    <rosparam if="$(eval arg('config_file') != '')" file="$(arg config_file)" command="load"/>
    <param name="input_topic" value="/pose_gt"/>
    <param name="output_topic" value="$(arg sensor_odometry_topic)"/>
    <param name="input_frame" value="map"/>
    <param name="parent_frame" value="$(arg frame_odom)"/>
    <param name="child_frame" value="$(arg frame_base)"/>
  </node>

  <node pkg="robot_localization" type="ekf_localization_node"
        name="simulated_navigation_filter" output="screen" required="true">
    <rosparam file="$(find mariner)/config/simulated_navigation_filter.yaml"
              command="load"/>
    <param name="odom0" value="$(arg sensor_odometry_topic)"/>
    <remap from="odometry/filtered" to="$(arg raw_odometry_topic)"/>
  </node>

  <node pkg="mariner" type="state_surface_adapter.py"
        name="simulated_navigation_state_adapter" output="screen" required="true">
    <param name="raw_odometry_topic" value="$(arg raw_odometry_topic)"/>
    <param name="odometry_3dof_topic" value="$(arg odometry_3dof_topic)"/>
    <param name="pose_3dof_topic" value="$(arg pose_3dof_topic)"/>
    <param name="path_topic" value="$(arg path_topic)"/>
    <param name="odometry_6dof_topic" value="$(arg odometry_6dof_topic)"/>
    <param name="pose_6dof_topic" value="$(arg pose_6dof_topic)"/>
    <param name="parent_frame" value="$(arg frame_odom)"/>
    <param name="child_frame" value="$(arg frame_base)"/>
    <param name="child_frame_6d" value="$(arg frame_base_6d)"/>
    <param name="input_linear_velocity_frame" value="parent"/>
    <param name="project_to_planar" value="true"/>
    <param name="expected_input_publisher" value="/simulated_navigation_filter"/>
  </node>

  <node if="$(arg publish_odom_tf)"
        pkg="mariner" type="odom_to_tf.py"
        name="mariner_odom_to_tf" output="screen">
    <param name="odometry_topic" value="$(arg odometry_3dof_topic)"/>
    <param name="parent_frame" value="$(arg frame_odom)"/>
    <param name="child_frame" value="$(arg frame_base)"/>
    <param name="project_to_planar" value="true"/>
  </node>
</launch>
