<?xml version="1.0"?>
<model>
  <name>Water Surface</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Aaron John Sabu</name>
    <email>aaronjs@g.ucla.edu</email>
  </author>
  <description>
    Generic visual water-surface model for Heron simulation scenarios.
  </description>
</model>
